<div class="card">
  <div class="card-body card-os">
    <h1 class="guide-title"><%= t("#{os}") %></h1>
    <a href="lg_guides.html" class="back-link"><%= t(:back) %></a>
  </div>
  <div class="button-help">
    <span class="svg-icons"><%= partial 'images/icons/settings' %><%= t(:settings_button) %></span>
    <span class="svg-icons"><%= partial 'images/icons/home' %><%= t(:home_button) %></span>
  </div>
</div>
